<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>808020309743-506f5amakl2obetmk8r09pjfqp872apc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.808020309743-506f5amakl2obetmk8r09pjfqp872apc</string>
	<key>API_KEY</key>
	<string>AIzaSyBqed3SGxlISwF_hhZ8GfGWvluCu0n11qU</string>
	<key>GCM_SENDER_ID</key>
	<string>808020309743</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dodocode.EconometricsApp</string>
	<key>PROJECT_ID</key>
	<string>econometrics-17c4a</string>
	<key>STORAGE_BUCKET</key>
	<string>econometrics-17c4a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:808020309743:ios:c55e165e590a2d723acd1a</string>
	<key>DATABASE_URL</key>
	<string>https://econometrics-17c4a.firebaseio.com</string>
</dict>
</plist>